* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
}
button {
    cursor: pointer;
}
button:hover {
    scale: 30px;
}
.container {
    height: 100%;
    margin-left: 7%;
    margin-right: 7%;
}

.header {
    text-align: center;
    height: 50px;
    background-color: burlywood;
}
.header h1 {
    padding-top: 5px;
}

.nav {
    background-color: beige;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.nav a {
    font-size: 20px;
    text-decoration: none;
}

.main-content {
    height: 1050px;
}

.content {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-column: 1;
    padding: 20px;
}
.content div {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    text-align: center;
    padding: 10px;
}
.content div * {
    margin-top: 10px;
    font-size: 20px;
}

.content div button {
    border-radius: 6px;
    background-color: aqua;
    width: 110px;
    height: 40px;
    margin-top: 80px;
}
.main-content {
    display: flex;
}
.sidebar {
    width: 40%;
    margin-left: 40px;
    background-color: rgb(122, 122, 226);
}
.sidebar a {
    display: block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.footer {
    background-color: rgb(61, 60, 60);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    height: 100px;
}
.footer * {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}