@page
@model Live_Support_LTM.Pages.Customer.CreateTicketModel
@{
    ViewData["Title"] = "Create Ticket";
}
<form method="post">
    <button type="submit">Tạo ticket và vào phòng chat</button>
</form> 