<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../fontawesome-free-6.6.0-web/css/all.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>
<body>
    <header>
        <nav class="header__navbar">
            <span class="header__navbar--logo"><i class="fa-solid fa-box"></i>TheBox</span>
            <ul class="header__navbar--list">
                <li class="header__navbar--item">
                    <a href="../Templates/index.html" class="header__navbar--item--link">Home</a>
                </li>

                <li class="header__navbar--item">
                    <a href="" class="header__navbar--item--link">About Us</a>
                </li>

                <li class="header__navbar--item">
                    <a href="" class="header__navbar--item--link">Projects</a>
                </li>

                <li class="header__navbar--item">
                    <a href="" class="header__navbar--item--link">Services</a>
                </li>

                <li class="header__navbar--item">
                    <a href="" class="header__navbar--item--link">Contact Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="banner">
            <h1>Nơi khởi tạo ước mơ, xây dựng tương lai của bạn!</h1>
            <img src="" alt="">
            <div class="banner__feature_Project">
                <h2 style="width: 190px; height: 17px; size: 12.63px; margin-left: 90px;">Feature Projects</h2>
                <h2 style="width: 320.3px; height: 44.64px; size: 17.56px;">The National University of Architecture</h2>
                <div class="banner__feature_Project--bottom-background"></div>
                <div class="banner__feature_Project--back"><a href=""><i class="fa-solid fa-arrow-right fa-rotate-180"></i> Back</a></div>
                <div class="banner__feature_Project--next"><a href="">Next <i class="fa-solid fa-arrow-right"></i></a></div>
            </div>
        </div>

        <!-- Reputation-->

        <div class="reputation">
            <h2>Our Reputation</h2>
            <div class="reputation__block">
                <div class="reputation__container">
                    <i class="fa-solid fa-headphones"></i>
                    <h3>Best Services</h3>
                    <h4>Nullam senectus porttitor in eget. Eget rutrum leo interdum.</h4>
                </div>

                <div class="reputation__container">
                    <i class="fa-solid fa-people-group"></i>
                    <h3>Best Teams</h3>
                    <h4>Cursus semper tellus volutpat aliquet lacus.</h4>
                </div>

                <div class="reputation__container">
                    <i class="fa-solid fa-pen-nib"></i>
                    <h3>Best Designs</h3>
                    <h4>Ultricies at ipsum nunc, tristique nam lectus.</h4>
                </div>
            </div>
        </div>

        <!-- About us-->
        <div class="infor">
            <div class="infor__img">
                <img src="./img/87a6fb6a79f6ebda83f9824c72dc2d4b.jpg" alt="">
            </div>
            <div class="infor__decription">
                <h3>About us</h3>
                <p>For more than 30 years we have been delivering world-class construction and we’ve built many lasting relationships along the way.</p>
                <p>We’ve matured into an industry leader and trusted resource for those seeking quality, innovation and reliability when building in the U.S.</p>
                <button class="infor__btn">More on Our History</button>    
            </div>
        </div>

        

        <!--Contact-->
        <div class="contact">
            <h3>What can us do for you?</h3>
            <h4>We are ready to work on a project of any complexity, whether it’s commercial or residential.</h4>
            <form action="">
                <div class="contact__infor">
                    <input type="text" placeholder="Your Name*">
                    <input type="email" placeholder="Email*">
                    <input type="text" placeholder="Reason for Contacting*">
                    <input type="phone" placeholder="Phone">
                </div>
                <div class="contact__message">
                    <input type="text" placeholder="Message">
                    <p>* indicates a required field</p>
                    <button>Submit</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="address">
            <div class="address--left">
                <pre><span>ADDRESS:</span>   6391 Elgin St. Celina, Delaware 10299</pre>
                <pre><span>PHONE: </span>     +84 1102 2703</pre>
                <pre style="margin-bottom: 20px;"><span>EMAIL:</span>       hello@thebox.com</pre>
                <span class="address__logo"><i class="fa-solid fa-box"></i>TheBox</span>
            </div>
            <div class="address--right">
                <p>Newsletter:</p>
                <div class="subs">
                <input type="text" placeholder="Your email here">
                <button>Subscribe</button>
                </div>

                <div class="social" >
                    <p style="margin-top: 20px;">SOCIAL:</p>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                </div>
            </div>
        </div>

        <!--Author-->
        <div class="author">
            <p>TheBox Company © 2022. All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>